<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loaduserdataServlet</servlet-name>
        <servlet-class>toan.loaduserdataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>banuserServlet</servlet-name>
        <servlet-class>toan.banuserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadrecipeimgServlet</servlet-name>
        <servlet-class>toan.loadrecipeimgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadrecipeServlet</servlet-name>
        <servlet-class>toan.loadrecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadrecipedataServlet</servlet-name>
        <servlet-class>toan.loadrecipedataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>quang.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOutServlet</servlet-name>
        <servlet-class>quang.logOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>quang.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProfileServlet</servlet-name>
        <servlet-class>quang.getProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileServlet</servlet-name>
        <servlet-class>quang.updateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>quang.changePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOldPassword</servlet-name>
        <servlet-class>quang.getOldPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveAvatarServlet</servlet-name>
        <servlet-class>quang.saveAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAvatarServlet</servlet-name>
        <servlet-class>quang.getAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menu7daysServlet</servlet-name>
        <servlet-class>trang.menu7daysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setMenuServlet</servlet-name>
        <servlet-class>trang.setMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>startupServlet</servlet-name>
        <servlet-class>toan.startupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertRecipeServlet</servlet-name>
        <servlet-class>toan.insertRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTagforinsServlet</servlet-name>
        <servlet-class>toan.getTagforinsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validationServlet</servlet-name>
        <servlet-class>quang.validationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>googleLoginServlet</servlet-name>
        <servlet-class>quang.googleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkLoginServlet</servlet-name>
        <servlet-class>quang.checkLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAdminLoginServlet</servlet-name>
        <servlet-class>quang.checkAdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdminServlet</servlet-name>
        <servlet-class>quang.loginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeAdminPasswordServlet</servlet-name>
        <servlet-class>quang.changeAdminPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogoutServlet</servlet-name>
        <servlet-class>quang.adminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shoppinglistServlet</servlet-name>
        <servlet-class>toan.shoppinglistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loaduserdataServlet</servlet-name>
        <url-pattern>/loaduserdataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>banuserServlet</servlet-name>
        <url-pattern>/banuserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadrecipeimgServlet</servlet-name>
        <url-pattern>/loadrecipeimgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadrecipeServlet</servlet-name>
        <url-pattern>/loadrecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadrecipedataServlet</servlet-name>
        <url-pattern>/loadrecipedataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOutServlet</servlet-name>
        <url-pattern>/logOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProfileServlet</servlet-name>
        <url-pattern>/getProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileServlet</servlet-name>
        <url-pattern>/updateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOldPassword</servlet-name>
        <url-pattern>/getOldPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveAvatarServlet</servlet-name>
        <url-pattern>/saveAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAvatarServlet</servlet-name>
        <url-pattern>/getAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menu7daysServlet</servlet-name>
        <url-pattern>/menu7daysServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setMenuServlet</servlet-name>
        <url-pattern>/setMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>startupServlet</servlet-name>
        <url-pattern>/startupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertRecipeServlet</servlet-name>
        <url-pattern>/insertRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTagforinsServlet</servlet-name>
        <url-pattern>/getTagforinsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validationServlet</servlet-name>
        <url-pattern>/validationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>googleLoginServlet</servlet-name>
        <url-pattern>/googleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLoginServlet</servlet-name>
        <url-pattern>/checkLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAdminLoginServlet</servlet-name>
        <url-pattern>/checkAdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdminServlet</servlet-name>
        <url-pattern>/loginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAdminPasswordServlet</servlet-name>
        <url-pattern>/changeAdminPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogoutServlet</servlet-name>
        <url-pattern>/adminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shoppinglistServlet</servlet-name>
        <url-pattern>/shoppinglistServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1800
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>startupServlet</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>toan.LogFilter</filter-class>
    </filter>
    <!--
    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <url-pattern>/pages/admin/*</url-pattern>
    </filter-mapping>
    -->
</web-app>
